<a href="" class="pokemon">
  <section class="pokemon-infos">
    <h2>Bulbassaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </section>

  <section class="pokemon-image">
    <img src="" alt="bulbassauro" />
  </section>
</a>
<a href="" class="pokemon">
  <section class="pokemon-infos">
    <h2>Bulbassaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </section>

  <section class="pokemon-image">
    <img src="" alt="bulbassauro" />
  </section>
</a>
