:root {
  --bar-color: #51535d;
  --pokemon-title-color: #262835;
  --statistic-pokemon-color: #ff5473;
  --button-return-color: #ff5473;
  --background-color: #262835;
  --white: #fff;
  --cinza: #edeaed;
}
