@import "./config-scss/color-variables.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/reset.scss";

html {
  font-family: "Robot", sans-serif;
  background-color: var(--background-color);
}

main {
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 620px) {
    width: rem-calc(280);
    margin: auto;
  }
}
